.category {
  height: 100%;
  .main {
    height: 100%;
    display: flex;
    .details {
      width: 100%;
    }
  }
}

a.category-link {
  border: 1px solid red;
  margin: 0 5px;
  height: 30px;
  border-radius: 5px;
  color: black;
  padding: 5px;
  background-color: antiquewhite;
  text-decoration: none;
  box-sizing: border-box;
}

a.category-link.active {
  border: 1px solid red;
  margin: 0 5px;
  height: 30px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  background-color: orange;
  text-decoration: none;
  box-sizing: border-box;
}