a.category-link {
  box-sizing: border-box;
  border: 1px solid orange;
  margin: 0 0.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  color: black;
  padding: 1rem;
  background-color: antiquewhite;
  text-decoration: none;
  font-size: 2rem;

  &.active {
    border: 1px solid red;
    color: white;
    background-color: orange;
  }
}
