.category {
  height: 100%;
  .main {
    height: 100%;
    display: flex;
    .restaurant-list {
      border-right: 1px solid gray;
      width: 600px;
      .title {
        display: flex;
        align-items: center;
      }
    }
    .details {
      width: 100%;
    }
  }
}

a.category-link {
  border: 1px solid red;
  margin: 0 5px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  background-color: orange;
  text-decoration: none;
  box-sizing: border-box;
}