.header {
  display: flex;
  .title {
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: center;

  }
  .control {
    display: flex;
    select {
      height: 50px;
    }
  }
  .list {
    display: flex;
    overflow-x: auto;
    height: 50px;
    white-space: nowrap;
  }
}