.restaurant-list {
  border-right: 1px solid gray;
  overflow-y: scroll;
  width: 800px;
}

.restaurant-card {
  text-decoration: none;
  .card-details {
    border: 1px solid #C4C4C4;
    padding: 10px;
    color: black;
    .title {
      font-size: 32px;
    }
    .categories {
      padding: 10px 0;
    }

    &.selected {
      background-color: #F2F2F2;
    }
  }
}

a.restaurant-card .card-details {
  &:hover {
    background-color: #C4C4C4;
  }
}

.restaurant-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  .markable-map {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;
  }
  .actions {
    margin-bottom: 20px;
  }
}
