.restaurant-list {
  border-right: 1px solid gray;
  overflow-y: scroll;
  width: 800px;
}

.restaurant-card {
  text-decoration: none;
  .card-details {
    border: 1px solid #C4C4C4;
    padding: 10px;
    color: black;
    .title {
      font-size: 32px;
    }
    .categories {
      padding: 10px 0;
    }

    &.selected {
      background-color: #F2F2F2;
    }
  }
}

a.restaurant-card .card-details {
  &:hover {
    background-color: #C4C4C4;
  }
}

.modal.restaurant {
  top: 5rem;
  width: 60rem;
  .form {
    display: flex;
    flex-direction: column;
    .content {
      display: flex;
      .fields {
        display: flex;
        flex-direction: column;
        padding: 1rem;
      }
      .map-container {
        height: 40rem;
        width: 100%;
        background-color: gray;
        font-size: 20px;
        display: flex;
        position: relative;
        .markable-map {
          display: flex;
          flex-direction: column;
          position: absolute;
          height: 100%;
          width: 100%;
        }
      }
    }
    .actions {
      margin-bottom: 20px;
    }
  }
}
